<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About the Creator</h1>
        <p class="lead">
            Hi! I'm Michael, and I draw pictures with tiny squares.
        </p>
    </div>
</div>

<div class="container">
    <h1>About Me</h1>
    <p>
        I've been playing Minecraft since 2012, and since the start I've loved making textures for the game.
        I loved being able to see my own drawings making up the world around me, and making sweeping changes with relatively low effort.
        Even when I got burnt out on the game, I would still make textures and models for fun.
        Minecraft was my first real exposure to pixel art, and it encouraged me to experiment with new forms and styles of digital drawing.
        Even though I don't play it as much as I used to, Minecraft will always have a special place in my heart, and be a core part of my childhood.
    </p>
    <p>
        If you like what I've done here, whether in the Pack Builder or Other Resource packs, please consider buying me a Boba through the PayPal link below.
    </p>
    <div class="row">
        <div class="col text-center">
            <a href="https://paypal.me/michaellauld?locale.x=en_US">
                <img src="../../assets/buttons/donate/unpressed.png" class="img-fluid" alt="Download Button" id="donate_button">
            </a>
        </div>
    </div>
    <h1>Contact Me</h1>

    <form #contactForm="ngForm">
        <div class="form-group">
            <label for="subject">Subject</label>
            <select class="form-control" id="subject"
                required
                [(ngModel)]="message_subject" name="subject">
                <option>Texture Suggestion</option>
                <option>Submit a Texture</option>
                <option>Bug Report</option>
                <option>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <input type="text" class="form-control" id="body"
                required
                [(ngModel)]="message_body" name="body">
        </div>
        <div class="form-row">
            <button class="btn btn-lg btn-block btn-primary" (click)="sendClick()">Send Message</button>
        </div>
    </form>
</div>
