<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Build Your Own Resource Pack</h1>
        <p class="lead">
            Default inspired variations on the classic Minecraft look.
            Make your selections and download your custom resource pack.
            Easy as that!
        </p>
    </div>
</div>

<div class="container" *ngFor="let r of all_resources">
    <app-selection-card [name]="r.name" [options]="r.selections"></app-selection-card>
</div>
