<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <app-picker [options]="options" #picker></app-picker>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title">{{name}}</h1>
                <form>
                <div class= "form-group" id="buttons" *ngFor="let o of options; let i = index">
                    <label>
                        <input type="radio" name="options" (change)='radioChecked(o.name,i); picker.update();' autocomplete="off">
                        {{o.description}}
                    </label>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
