<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">How To Use Resource Packs</h1>
        <p class="lead">
            A quick description on how to use this (and any other) resource packs in Minecraft Java Edition.
        </p>
    </div>
</div>

<div class="container">
    <h1>What is a Resource Pack?</h1>
    <p>
        Resource packs enable you to change the look and feel of your Minecraft game.
        Resource packs can change textures, models, languages, and even sounds.
        Unlike mods, resource packs are supported in the game by Default, and does not require any changes to the base game.
    </p>

    <h1>How to Install</h1>
    <h2>1. Find and Download a Resource Pack.</h2>
    <p>
        Before you can install a resource pack, you need to download one. There are several websites that allow you to do
        just that, including this one! To start customize your own resource pack, check out the <a href="/home">'Build a Pack'</a> tab. To
        download a pre-made one, check out the <a href="/other">'Other Packs'</a> tab.
    </p>
    <p>
        You can also find resource packs made by other creators at these websites:
    </p>
    <ul>
        <li><a href="https://www.curseforge.com/minecraft/texture-packs">Curseforge</a></li>
        <li><a href="https://www.planetminecraft.com/texture-packs/">Planet Minecraft</a></li>
    </ul>
    <p>
        Picking a resource pack is probably the hardest part. All you have to do now is Download it!
        Once the pack has been downloaded, locate the folder or .zip file on your system.
        This is the file you will need to add to your game to apply the changes.
    </p>

    <h2>2. Open the Resource Pack Folder</h2>
    <p>
        Now that you have a Resource Pack file, you need to add it to your game.
        To start, log in on the launcher and start an instance of Minecraft.
        At the home screen, click the 'Options' button at the bottom left.
    </p>
    <img src="../../assets/demo/demo_1.png" class="img-fluid" alt="Menu Screen with Options selected">
    <p>
        From here, you should see a 'Resource Packs' button again at the bottom left.
        Click it to open the Resource Pack Selection screen.
    </p>
    <img src="../../assets/demo/demo_2.png" class="img-fluid" alt="Options Screen with Resource Packs selected">
    <p>
        Now, Click on the 'Open Pack Folder' button.
        You will be redirected to a folder in your computer's file browsing system.
        This is the folder where you can place your Downloaded resource packs from Step 1.
    </p>
    <img src="../../assets/demo/demo_3.png" class="img-fluid" alt="Resource Pack Selection screen with Open selected">
    <h2>3. Select your Resource Packs.</h2>
    <p>
        Now that the Resource pack is in the folder, you can apply it in the
        Resource Pack Selector. You should see the newly added pack at the left half
        of the Resource Pack Selector. If you can't see the pack, reload the page by
        going pack to the menu and returning.
    </p>
    <img src="../../assets/demo/demo_4.png" class="img-fluid" alt="Selecting pack on Resource Pack Selection screen">
    <p>
        To select the pack, click on the rightward arrow that appears when hovering over it.
        Now, your pack should be applied. Join a world and see the changes!
    </p>

    <h2>4. Layering Resource Packs</h2>
    <p>
        Minecraft also has the ability to support multiple resource packs simultaneously.
        Actually, this already happens even when you only have one resource pack selected!
        As you may have noticed, when a resource pack is applied, it shows up at the top of the
        "Selected" list at the right, above 'Default.' This is because Minecraft is layering
        the installed pack on top of Default minecraft resources. This is to ensure that if the
        added pack is missing elements, the game can still fall back on default resources.
    </p>

    <p>
        We can leverage this to use multiple resource packs at once, and have features from both appear
        in the game. Say for example, we have 'Pack 1' and 'Pack 2'.
    </p>

    <img src="../../assets/demo/demo_5.png" class="img-fluid" alt="2 Packs unselected on Selection screen">

    <p>
        Say Pack 1 changes all game resources, and you want to use it in your game. <br>
        Say Pack 2 only edits one texture, for Cobblestone, which you really like. <br>
        With layering, we can have Pack 1's overall greatness and also have Pack 2's
        better cobblestone, at the same time. To do this, we select both Pack 1 and Pack 2.
    </p>

    <img src="../../assets/demo/demo_6.png" class="img-fluid" alt="2 Packs selected on Selection screen, 1 over 2">

    <p>
        Given this order, Pack 1's changes to all resources will override Pack 2's edit.
        This is because both packs edit Cobblestone, but Pack 1 is on top, and thus takes priority.
        We can change this by moving it down the list.
        Hover over the pack and click the down arrow that appears.
    </p>
    <img src="../../assets/demo/demo_7.png" class="img-fluid" alt="2 Packs selected on Selection screen, 1 with down arrow">
    <p>
        Now, Pack 1 is below Pack 2, meaning Pack 2's changes are prioritized.
        In game, we can see Pack 2's new Cobblestone, as well as all of Pack 1's other textures.
    </p>
    <img src="../../assets/demo/demo_8.png" class="img-fluid" alt="2 Packs selected on Selection screen, 2 over 1">
    <p>
        You can change this order for any combination of packs to see what you want rendered in game.
    </p>

</div>
